body{
	margin:0;
}

.jumbotron{
	background-color: black !important;
	color:red;
	text-align: center;
	font-family: "Slabo 27px",serif;
	margin-bottom: 0rem !important;
	border-radius:0 !important;
	border-bottom:2px solid red;
}

.whole{
	width: 100%;
    padding: 60px;
    padding-bottom:100px;
	background-color:black;
	color: white;
	text-align:center;

}

.box{
	padding:20px;
	text-align: center;
	text-shadow: 1.3px 1px blue;
	border: 2px solid blue;
	font-family: "Inconsolata",monospace;
	}

#wel{
	display:block;
}

#ques1{
	display: none;
}

#ques2{
	display: none;
}

#ques3{
	display: none;
}

#ques4{
	display: none;
}

#ques5{
	display: none;
}

#ques6{
	display: none;
}

.para1{
	text-align: justify;
}

#ques7{
	display: none;
}

#ques8{
	display: none;
}

#score{
	display: none;
}	